.gallery{
    display: grid;
    background-color: white;
    grid-gap: 15px;
    grid-template-columns: repeat(3,12rem);
    grid-template-rows: repeat(3,12rem);
}

.overlay{
    display: none;
}

.gallery-item.large{
    background-color: red;
    grid-column: 1/3;
    grid-row: 1/3;
}

.gallery-item img{
    background-color: blueviolet;
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}

